@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "styles/highlight.js/styles/github.css";
@import "styles/highlight.js/styles/github-dark.css";

/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }
}

.global-hover:hover {
    @apply text-orange-500;
    transition: all 0.2s ease-in-out;
}

.dark .global-hover:hover {
    @apply text-orange-500;
    transition: all 0.2s ease-in-out;
}

*:focus:not(:focus-visible),
html:not([data-headlessui-focus-visible]) *:focus {
    outline: none !important;
}

#header__light, #header__dark {
    display: none;
}

html[class='dark'] #header__dark {
    display: block;
}

html[class='light'] #header__light {
    display: block;
}

.pixelated {
    image-rendering: pixelated;
}

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/
